@use "@/assets/styles/variables" as var;

.cursor {
  width: 30px;
  height: 30px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 30px var.$blue, 0 0 45px var.$blue, 0 0 80px var.$blue;
  pointer-events: none;
  transition: transform 0.1s ease, box-shadow 0.2s ease;
  transform: translate(-50%, -50%);
  mix-blend-mode: exclusion;
}
