@use "@/assets/styles/variables" as var;

.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px var.$blue, 0 1px 3px var.$blue;
  overflow: hidden;
}

.card:hover {
  box-shadow: 0 4px 6px var.$dark-blue, 0 1px 3px var.$dark-blue;
}

.card--white {
  color: var.$white;
}

.card--black {
  color: var.$black;
}

.card--blue {
  color: var.$blue;
}

.card--dark-blue {
  color: var.$dark-blue;
}

.card-width--small {
  width: 22%;
}

.card-width--medium {
  width: 30%;
}

.card-width--large {
  width: 45%;
}

.card-width--xl {
  width: 70%;
}

.card-width--full {
  width: 100%;
}

.card-height--small {
  height: 22%;
}

.card-height--medium {
  height: 40%;
}

.card-height--large {
  height: 60%;
}

.card-height--xl {
  height: 80%;
}

.card-height--full {
  height: 100%;
}

section {
  .card-header,
  .card-body,
  .card-footer {
    padding: 1rem;
  }

  .card-header,
  .card-footer {
    height: 15%;
    overflow-y: hidden;
  }

  .card-body {
    height: 70%;
    overflow-y: hidden;
  }
}
