@use "@/assets/styles/variables" as var;

.embla-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;

  .embla {
    overflow: hidden;
    text-align: center;
    flex-grow: 1;
  }

  .embla__container {
    display: flex;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

  .embla__button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
  }

  .embla__prev {
    left: 10px;
  }

  .embla__next {
    right: 10px;
  }

  .embla__prev:hover,
  .embla__next:hover {
    color: var.$purple;
    cursor: pointer;
  }
}
