@use "@/assets/styles/variables" as var;

.embla {
  overflow: hidden;
  text-align: center;
}

.embla__container {
  display: flex;
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
