@use "@/assets/styles/variables" as var;

.modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  z-index: 1000;

  .modal-content {
    max-width: 700px;
    width: 90%;
    max-height: 80%;
    height: 80%;
    background-color: var.$black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;

    .modal-header {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }

    .modal-body {
      height: 60%;
      display: flex;
      justify-content: center;
      overflow-y: auto;
      padding: 10px;

      .modal-container {
        margin-top: 2%;
      }
    }

    .modal-footer {
      height: 20%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
    }
  }
}

.modal-enter-active,
.modal-leave-active {
  transition: opacity 0.3s ease;
}

.modal-enter-from,
.modal-leave-to {
  opacity: 0;
}
