@use "@/assets/styles/variables" as var;

.select-cards {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-around;

  .header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .card-text {
    text-align: center;
  }

  .game-card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    .body-content {
      display: flex;
      justify-content: space-around;
      text-align: center;
    }

    .footer-content {
      display: flex;
      justify-content: center;
      text-align: center;

      .start-button {
        font-size: 1rem;
      }
    }
  }

  .menu-card {
    .menu-select li {
      margin-left: 50%;
      list-style-type: none;
      transform: translateX(-40%);

      :hover {
        color: var.$purple;
      }
    }

    .logout {
      display: flex;
      justify-content: center;
    }
  }
}
