node_modules
mysql-data/
postgres-data/
__pycache__/
**/__pycache__/
*.sock
*.env
*.py[cod]
*.pyc
venv
.pytest_cache
/scripts
/scripts/
logs/cron.log
logs/exim4/mainlog
backend/apps/common/migrations/
backend/logs/
