$small: 36px;
$medium: 64px;
$large: 128px;

.icon {
  display: inline-block;
  vertical-align: middle;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-width--small {
  width: $small;
}

.icon-width--medium {
  width: $medium;
}

.icon-width--large {
  width: $large;
}

.icon-height--small {
  width: $small;
}

.icon-height--medium {
  width: $medium;
}

.icon-height--large {
  width: $large;
}
