@use "@/assets/styles/variables" as var;

.label--white {
  color: var.$white;
}

.label--black {
  color: var.$black;
}

.label--blue {
  color: var.$blue;
}

.label--dark-blue {
  color: var.$dark-blue;
}
