@use "@/assets/styles/variables" as var;

/** title text **/
.title--white {
  color: var.$white;
}

.title--black {
  color: var.$black;
}

.title--blue {
  color: var.$blue;
}

.title--dark-blue {
  color: var.$dark-blue;
}

/** title text size **/
.title--small {
  font-size: 2rem;
}

.title--medium {
  font-size: 2.5rem;
}

.title--large {
  font-size: 3rem;
}
