$white: var(--text-color); // デフォルトは白。テキストの色設定
$translucent-white: rgba(255, 255, 255, 0.3);
$black: var(--background-color); // デフォルトは黒。背景の色設定
$translucent-black: rgba(0, 0, 0, 0.3);
$main-color: var(--main-color);
$sub-color: var(--sub-color);
$hover-color: var(--hover-color);
$disabled-color: #363636;
$correct-color: #59ff59;
$incorrect-color: #b10000;

%full-page {
  width: 100%;
  height: auto; 
}

%typing {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

@mixin vertical-flex {
  display: flex;
  flex-flow: column;
}

@mixin vertical-centered-flex {
  display: flex;
  flex-flow: column;
  justify-content: center;
  text-align: center;
}

@mixin horizontal-flex {
  display: flex;
  justify-content: center;
}

@mixin horizontal-centered-flex {
  display: flex;
  justify-content: center;
  text-align: center;
}

@mixin hidden {
  overflow: hidden;
}
